# Ignore everything by default
 *

# Explicitly include directories first
!scripts/
!projets/
!donnees/
!solutions/
!solutions/**

# Include specific files in diapos
diapos/
# !diapos/**/LNG*.pdf

# Always include these specific files
!README.md
!project.Rproj

# Ignore system and temporary files
.DS_Store
.Rproj.user
makefile
